.thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;

  background-color: var(--color-light);

  border: 4px solid #fff;
  border-radius: 16px;
  overflow: hidden;
}
